<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="imSAFE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImSAFEApp"
        tools:targetApi="31">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Record_Audio"
            android:exported="false" />
        <activity
            android:name=".PanicButton_Fire"
            android:exported="false" />
        <activity
            android:name=".PanicButton_Amb"
            android:exported="false" />
        <activity
            android:name=".MobilePhone"
            android:exported="false" />
        <activity
            android:name=".main_admin.MainActivity1"
            android:exported="false" />
        <activity
            android:name=".melissa.LocationFragment"
            android:exported="false" />
        <activity
            android:name=".melissa.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".melissa.ReportIncident"
            android:exported="false" />
        <activity
            android:name=".main_admin.ViewDetails"
            android:exported="false" />
        <activity
            android:name=".counsellor.AboutUs_Counselor"
            android:exported="false" />
        <activity
            android:name=".lisa.MainActivity"
            android:exported="false" />
        <activity
            android:name=".counsellor.Counsellor_Homepage"
            android:exported="false" />
        <activity
            android:name=".community.user.CommunityFeedActivity"
            android:exported="false" />
        <activity
            android:name=".community.admin.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".community.user.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".SMS_Activity"
            android:exported="false" />
        <activity
            android:name=".main_admin.Admin_Update"
            android:exported="false" />
        <activity
            android:name=".main_admin.Admin_Upload"
            android:exported="false" />
        <activity
            android:name=".main_admin.Admin_Delete"
            android:exported="false" />
        <activity
            android:name=".main_admin.Admin_Add"
            android:exported="false" />
        <activity
            android:name=".AddMedia"
            android:exported="false"
            android:theme="@style/Theme.ImSAFEApp" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".PanicButton"
            android:exported="false" />
        <activity
            android:name=".chat.activity.CounsellorsActivity"
            android:exported="false" />
        <activity
            android:name=".chat.activity.ChatActivity"
            android:exported="false" />

        <service
            android:name=".chat.firebase.FirebaseService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".chat.activity.UsersActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlYQJnmY0bklqDfqZ5l9w069ohniV1FyA" />

        <activity
            android:name=".Profile_Settings"
            android:exported="false" />
        <activity
            android:name=".Forgot_Password"
            android:exported="false" />
        <activity
            android:name=".OTP_Activity"
            android:exported="false" />
        <activity
            android:name=".PhoneNumber"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".Part3_Registration"
            android:exported="false" />
        <activity
            android:name=".Part2_Registration"
            android:exported="false" />
        <activity
            android:name=".Part1_Registration"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>